html[data-theme="light"] body {
  background-color: red !important;
  color: #121416d8 !important;
}

html[data-theme="dark"] body {
  background-color: #212a2e !important;
  color: #f7f8f8 !important;
}

html[data-theme="light"] a {
  color: #543fd7 !important;
}

html[data-theme="dark"] a {
  color: #828fff !important;
}
