.container {
  padding: 100px 150px 20px 150px;
  min-height: 600px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    padding: 100px 70px 20px 70px;
    min-height: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .container {
    padding: 100px 20px 20px 20px;
    min-height: 600px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 100px 0px 10px 0px;
    min-height: 400px;
  }
}
